<div class="container mt-4">
  <!-- Encabezado -->
  <app-header></app-header>

  <!-- Navegación -->
  <app-navigation 
    [activeTab]="activeTab" 
    (tabChange)="setActiveTab($event)">
  </app-navigation>

  <!-- Contenido dinámico -->
  <div [ngSwitch]="activeTab">
    <div *ngSwitchCase="'estudiantes'">
      <app-estudiantes></app-estudiantes>
    </div>
    
    <div *ngSwitchCase="'libros'">
      <app-libros></app-libros>
    </div>
    
    <div *ngSwitchCase="'prestamos'">
      <app-prestamos></app-prestamos>
    </div>
    
    <div *ngSwitchCase="'recordatorios'">
      <app-recordatorios></app-recordatorios>
    </div>
  </div>
</div>
